.adCard {
  width: 85%;
  max-width: 355px;
  height: 18vh;
  max-height: 180px;
  min-height: 140px;
  border-radius: 15px;
  user-select: none;
  margin-left: 32px;
}

.normalCard {
  min-width: 210px;
  max-width: 400px;
  height: 200px;
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  color: #fff;
  user-select: none;
  cursor: pointer;
}
#normalBigCard {
  width: 90%;
  max-width: 400px;
  height: 200px;
  min-height: 140px;
  border-radius: 15px;
  color: #fff;
  margin: 10px;
}

.cardImg {
  width: 100%;
  height: 100%;
  background-image: url(../img/Cards/icons-bg-small-card.svg);
  background-size: cover;
}
.cardImgAD {
  width: 100%;
  height: 100%;
  background-image: url(../img/Cards/icons\ bg\ -\ Big\ card.svg);
  background-size: cover;

  position: relative;
  justify-self: start;
}
.cardImgBG {
  width: 100%;
  height: 100%;
  background-image: url(../img/Cards/icons\ bg\ -\ Big\ card.svg);
  background-size: cover;
}

.infoCard {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 75%;
  width: 80%;
  position: relative;
}
.horarioB {
  text-align: end;
  position: absolute;
  bottom: -10px;
  right: 0;
}
.horarioB span {
  font-size: 35px;
}

.infoCardAD {
  height: 100%;
}

.infoBar {
  width: 100%;
  height: 25%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 15px 15px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titleCardC {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 30px;
  font-size: 28px;
  margin: 20px 0px 5px 0px;
}
.titleCard {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.titleCardAD {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.boldTitle {
  font-weight: 600;
  font-size: 23px;
}

.infoClassC {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  margin: 0px 0px 20px 0px;
  color: rgba(255, 255, 255, 0.74);
}
.infoClass {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.74);
}

.infoClassSpan {
  font-weight: 400;
}

.textBoldCard {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.beta {
  position: absolute;
  width: 49px;
  height: 23px;
  top: 20px;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5px 0px 0px 5px;

  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoSmallRight {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.teacherImg {
  width: 30px;
  height: 30px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  filter: drop-shadow(2px 2px 20px rgba(114, 94, 179, 0.5));
  border-radius: 9px;
}

.linguagens-color {
  background: linear-gradient(
    130deg,
    #ffcf25 3.08%,
    #ceaa29 53.04%,
    #6f5600 97.12%
  );
}
.matematica-color {
  background: linear-gradient(130deg, #b25dd6 3.08%, #5c1f76 94.19%);
}
.humanas-color {
  background: linear-gradient(
    130deg,
    #4253ef 3.08%,
    #3c4fff 97.12%,
    #071ac6 97.12%
  );
}

.natureza-color {
  background: linear-gradient(
    130deg,
    #55f2af 3.08%,
    #20b172 41.77%,
    #008a4e 97.12%
  );
}
.ad {
  background: linear-gradient(106deg, #6b53ab 7.89%, #a470e0 98.11%);

  border: 1.5px solid #c6c6c6;
}

.dark {
  background-image: linear-gradient(130.25deg, #343434 3.08%, #161616 97.12%);
}

.blue {
  background-image: linear-gradient(130.25deg, #6271f1 3.08%, #393f75 97.12%);
}

.purple {
  background-image: linear-gradient(130.25deg, #5d4a90 3.08%, #3b2f5c 97.12%);
}

.green {
  background-image: linear-gradient(130.25deg, #55b68c 3.08%, #325e4a 97.12%);
}

@media (min-width: 800px){
  .ad{
    align-self: flex-start;
    margin-left: 32px;
  } 
}
@media (min-width: 1250px){
  .ad{
    align-self: flex-start;
    margin-left: 32px;
  } 
}